@import "settings";
@import "foundation";

#top-bar {
  width: 101%;
  height: em-calc(50);
  background-color: $gainsboro;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  li {
    color: $monsoon;
    font-size: em-calc(30);
    display: inline;
  }
}

#mainSearch {
  position: absolute;
  right: em-calc(30);
  top: em-calc(10);
  height: em-calc(27);
  width: em-calc(130);
  background-color: white;
  i {
    position: absolute;
    left: em-calc(4);
    top: em-calc(5);
  }
  input {
    background-color: white;
    box-shadow: none;
    border: none;
    height: em-calc(27);
    width: em-calc(117);
    float: right;
  }
}

#topBarUploadLink {
  position: absolute;
  top: em-calc(10);
  font-size: em-calc(20);
  right: 20%;
}

#categoryMenu {
  border-bottom: em-calc(1) solid $gainsboro;
  width: 100%;
  height: em-calc(30);
  li {
    float: left;
    width: 33%;
    margin-top: em-calc(3);
    text-align: center;
    font-size: em-calc(15);
    a {
      padding: em-calc(3) em-calc(10);
      cursor: pointer;
      color: $body-font-color
    }
    a:hover {
      background-color: $info-color;
      color: darken($info-color, 40);
      border-radius: em-calc(3);
    }
  }
}
