@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add32:before {
	content: "\e000";
}
.flaticon-add34:before {
	content: "\e001";
}
.flaticon-address6:before {
	content: "\e002";
}
.flaticon-address7:before {
	content: "\e003";
}
.flaticon-adult:before {
	content: "\e004";
}
.flaticon-behance1:before {
	content: "\e005";
}
.flaticon-black53:before {
	content: "\e006";
}
.flaticon-black56:before {
	content: "\e007";
}
.flaticon-blind:before {
	content: "\e008";
}
.flaticon-calendar7:before {
	content: "\e009";
}
.flaticon-calendar9:before {
	content: "\e00a";
}
.flaticon-chat2:before {
	content: "\e00b";
}
.flaticon-check6:before {
	content: "\e00c";
}
.flaticon-check7:before {
	content: "\e00d";
}
.flaticon-circle12:before {
	content: "\e00e";
}
.flaticon-clock6:before {
	content: "\e00f";
}
.flaticon-closed4:before {
	content: "\e010";
}
.flaticon-cloud16:before {
	content: "\e011";
}
.flaticon-cloud17:before {
	content: "\e012";
}
.flaticon-compass5:before {
	content: "\e013";
}
.flaticon-compass6:before {
	content: "\e014";
}
.flaticon-css:before {
	content: "\e015";
}
.flaticon-delicious2:before {
	content: "\e016";
}
.flaticon-digg1:before {
	content: "\e017";
}
.flaticon-dog3:before {
	content: "\e018";
}
.flaticon-down9:before {
	content: "\e019";
}
.flaticon-dribbble2:before {
	content: "\e01a";
}
.flaticon-edit7:before {
	content: "\e01b";
}
.flaticon-edit8:before {
	content: "\e01c";
}
.flaticon-eject7:before {
	content: "\e01d";
}
.flaticon-elevator1:before {
	content: "\e01e";
}
.flaticon-error7:before {
	content: "\e01f";
}
.flaticon-eyeball:before {
	content: "\e020";
}
.flaticon-facebook8:before {
	content: "\e021";
}
.flaticon-female2:before {
	content: "\e022";
}
.flaticon-file6:before {
	content: "\e023";
}
.flaticon-flag10:before {
	content: "\e024";
}
.flaticon-flag9:before {
	content: "\e025";
}
.flaticon-flickr3:before {
	content: "\e026";
}
.flaticon-folder17:before {
	content: "\e027";
}
.flaticon-folder18:before {
	content: "\e028";
}
.flaticon-font:before {
	content: "\e029";
}
.flaticon-foursquare1:before {
	content: "\e02a";
}
.flaticon-github4:before {
	content: "\e02b";
}
.flaticon-glasses3:before {
	content: "\e02c";
}
.flaticon-globe4:before {
	content: "\e02d";
}
.flaticon-globe5:before {
	content: "\e02e";
}
.flaticon-globe6:before {
	content: "\e02f";
}
.flaticon-go1:before {
	content: "\e030";
}
.flaticon-go2:before {
	content: "\e031";
}
.flaticon-go3:before {
	content: "\e032";
}
.flaticon-google14:before {
	content: "\e033";
}
.flaticon-go:before {
	content: "\e034";
}
.flaticon-graph4:before {
	content: "\e035";
}
.flaticon-graph5:before {
	content: "\e036";
}
.flaticon-hand12:before {
	content: "\e037";
}
.flaticon-hearing:before {
	content: "\e038";
}
.flaticon-heart14:before {
	content: "\e039";
}
.flaticon-heart15:before {
	content: "\e03a";
}
.flaticon-home6:before {
	content: "\e03b";
}
.flaticon-home7:before {
	content: "\e03c";
}
.flaticon-idea2:before {
	content: "\e03d";
}
.flaticon-idea:before {
	content: "\e03e";
}
.flaticon-inbox4:before {
	content: "\e03f";
}
.flaticon-inbox5:before {
	content: "\e040";
}
.flaticon-instagram1:before {
	content: "\e041";
}
.flaticon-iphone3:before {
	content: "\e042";
}
.flaticon-key10:before {
	content: "\e043";
}
.flaticon-laptop4:before {
	content: "\e044";
}
.flaticon-laptop5:before {
	content: "\e045";
}
.flaticon-left21:before {
	content: "\e046";
}
.flaticon-linked:before {
	content: "\e047";
}
.flaticon-location14:before {
	content: "\e048";
}
.flaticon-location15:before {
	content: "\e049";
}
.flaticon-lock8:before {
	content: "\e04a";
}
.flaticon-lock9:before {
	content: "\e04b";
}
.flaticon-mail7:before {
	content: "\e04c";
}
.flaticon-mail8:before {
	content: "\e04d";
}
.flaticon-male3:before {
	content: "\e04e";
}
.flaticon-microphone10:before {
	content: "\e04f";
}
.flaticon-microphone11:before {
	content: "\e050";
}
.flaticon-minus7:before {
	content: "\e051";
}
.flaticon-minus8:before {
	content: "\e052";
}
.flaticon-monitor2:before {
	content: "\e053";
}
.flaticon-outline1:before {
	content: "\e054";
}
.flaticon-page7:before {
	content: "\e055";
}
.flaticon-pages:before {
	content: "\e056";
}
.flaticon-paper12:before {
	content: "\e057";
}
.flaticon-paper13:before {
	content: "\e058";
}
.flaticon-path:before {
	content: "\e059";
}
.flaticon-people3:before {
	content: "\e05a";
}
.flaticon-people5:before {
	content: "\e05b";
}
.flaticon-person11:before {
	content: "\e05c";
}
.flaticon-person8:before {
	content: "\e05d";
}
.flaticon-person9:before {
	content: "\e05e";
}
.flaticon-phone16:before {
	content: "\e05f";
}
.flaticon-phone17:before {
	content: "\e060";
}
.flaticon-photo5:before {
	content: "\e061";
}
.flaticon-photo6:before {
	content: "\e062";
}
.flaticon-picassa1:before {
	content: "\e063";
}
.flaticon-pinterest7:before {
	content: "\e064";
}
.flaticon-plus10:before {
	content: "\e065";
}
.flaticon-plus9:before {
	content: "\e066";
}
.flaticon-question5:before {
	content: "\e067";
}
.flaticon-quote1:before {
	content: "\e068";
}
.flaticon-quote:before {
	content: "\e069";
}
.flaticon-reddit2:before {
	content: "\e06a";
}
.flaticon-refresh8:before {
	content: "\e06b";
}
.flaticon-refresh9:before {
	content: "\e06c";
}
.flaticon-right19:before {
	content: "\e06d";
}
.flaticon-rss9:before {
	content: "\e06e";
}
.flaticon-screen1:before {
	content: "\e06f";
}
.flaticon-search8:before {
	content: "\e070";
}
.flaticon-search9:before {
	content: "\e071";
}
.flaticon-settings8:before {
	content: "\e072";
}
.flaticon-settings9:before {
	content: "\e073";
}
.flaticon-shopping10:before {
	content: "\e074";
}
.flaticon-shopping11:before {
	content: "\e075";
}
.flaticon-slide1:before {
	content: "\e076";
}
.flaticon-smiley3:before {
	content: "\e077";
}
.flaticon-smiley4:before {
	content: "\e078";
}
.flaticon-speaker:before {
	content: "\e079";
}
.flaticon-star6:before {
	content: "\e07a";
}
.flaticon-star7:before {
	content: "\e07b";
}
.flaticon-steam1:before {
	content: "\e07c";
}
.flaticon-stumbleupon4:before {
	content: "\e07d";
}
.flaticon-thumbs7:before {
	content: "\e07e";
}
.flaticon-thumbs8:before {
	content: "\e07f";
}
.flaticon-times1:before {
	content: "\e080";
}
.flaticon-trash6:before {
	content: "\e081";
}
.flaticon-trash7:before {
	content: "\e082";
}
.flaticon-tumblr5:before {
	content: "\e083";
}
.flaticon-twitter8:before {
	content: "\e084";
}
.flaticon-universal:before {
	content: "\e085";
}
.flaticon-unlock1:before {
	content: "\e086";
}
.flaticon-unlock:before {
	content: "\e087";
}
.flaticon-up13:before {
	content: "\e088";
}
.flaticon-video10:before {
	content: "\e089";
}
.flaticon-video11:before {
	content: "\e08a";
}
.flaticon-video9:before {
	content: "\e08b";
}
.flaticon-view4:before {
	content: "\e08c";
}
.flaticon-vimeo4:before {
	content: "\e08d";
}
.flaticon-website1:before {
	content: "\e08e";
}
.flaticon-website:before {
	content: "\e08f";
}
.flaticon-wheelchair:before {
	content: "\e090";
}
.flaticon-wordpress4:before {
	content: "\e091";
}
.flaticon-world6:before {
	content: "\e092";
}
.flaticon-wrench2:before {
	content: "\e093";
}
.flaticon-wrong2:before {
	content: "\e094";
}
.flaticon-youtube5:before {
	content: "\e095";
}
