<form class="large-4 columns small-centered text-center">
  <h2>login</h2>
  <label class="small-12 columns" >
    email
    <input type="email" name="email" >
  </label>
  <br>
  <label class="small-12 columns" >
    Password
    <input  type="password" name="password" >
  </label>
  <button class="button" type="submit">Connection</button>
  <a href="#/register">Register</a>
</form>
