<form class="large-4 columns small-centered text-center">
  <h2>login</h2>
  <label class="small-12 columns" >
    email
    <input type="email" >
  </label>
  <br>
  <label class="small-12 columns" >
    Password
    <input  type="password" >
  </label>
  <a class="button">Connection</a>
</form>
<a href="#/register">Register</a>
